[submodule "Introduction_to_Software_Systems/project-diss"]
	path = Introduction_to_Software_Systems/project-diss
	url = https://github.com/IIIT-ISS/project-diss.git
	branch = main
[submodule "Introduction_to_Software_Systems/hackathon39"]
	path = Introduction_to_Software_Systems/hackathon39
	url = https://github.com/IIIT-ISS/hackathon39
	branch = main
[submodule "Data_and_Applications/city-management-database"]
	path = Data_and_Applications/city-management-database
	url = https://github.com/DNA-5/city-management-database.git
	branch = main
[submodule "Design_and_Analysis_of_Software_Systems/ims-mobile-app"]
	path = Design_and_Analysis_of_Software_Systems/ims-mobile-app
	url = https://github.com/IMS-IIITH/ims-mobile-app.git
  branch = main
[submodule "Operating_Systems_and_Networks/Network_File_System"]
	path = Operating_Systems_and_Networks/Network_File_System
	url = https://github.com/OSN-UG2k22/NFS.git
  branch = main
[submodule "Operating_Systems_and_Networking/Network_File_System"]
	path = Operating_Systems_and_Networking/Network_File_System
	url = https://github.com/OSN-UG2k22/NFS.git
