@import url("./fonts.css");

.animator {
  list-style: none;
  display: flex;
  position: relative;
  white-space: nowrap;
  animation: why 30s steps(1, end) infinite;
  animation-timing-function: cubic-bezier(0.1, 1, 0.1, 1);
  padding-right: calc(100vw - 100%);
  width: 100vw;
  margin: 0px;
  padding: 0px;
  top: -10px;
}

@keyframes why {
  0% {
    transform: translateX(0%);
    /* Start at 0% horizontal position */
  }

  12.5% {
    transform: translateX(-100%);
    /* Start at 0% horizontal position */
  }

  25% {
    transform: translateX(-200%);
    /* Start at 0% horizontal position */
  }

  37.5% {
    transform: translateX(-300%);
    /* Start at 0% horizontal position */
  }

  50% {
    transform: translateX(-400%);
    /* Start at 0% horizontal position */
  }

  62.5% {
    transform: translateX(-300%);
    /* Start at 0% horizontal position */
  }

  75% {
    transform: translateX(-200%);
    /* Start at 0% horizontal position */
  }

  87.5% {
    transform: translateX(-100%);
    /* Start at 0% horizontal position */
  }

  100% {
    transform: translateX(0%);
    /* Start at 0% horizontal position */
  }

}

.quote {
  margin: 0px;
  padding: 0px;
  background-image: url(../../images/home1.jpg);
  background-size: cover;
  width: 100vw;
  height: 800px;
}

.quote2 {
  background-image: url(../../images/home2.jpg);
  margin: 0px;
  padding: 0px;
  background-size: cover;
  width: 100vw;
  height: 800px;
}

.quote3 {
  background-image: url(../../images/home3.jpg);
  margin: 0px;
  padding: 0px;
  background-size: cover;
  width: 100vw;
  height: 800px;
}

.quote-background {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
  width: 100vw;
  height: 800px;
}

.quote-text {
  font-family: "Quote Font", sans-serif;
  font-size: 30px;
  border-radius: 40px;
  position: absolute;
  word-wrap: normal;
  text-align: end;
  top: 10%;
  color: white;
  margin-left: 4%;
  width: fit-content;
  padding: 20px;
  background-color: rgba(1, 1, 1, 0.4);
}

.random-text {
  font-family: "Image Font", "Quote Font";
  text-align: left;
  position: absolute;
  font-size: 27px;
  color: silver;
  margin-left: 4%;
  top: 65%;
}

.quote-text::before {
  content: "\201C";
  font-size: 60px;
  color: rgba(255, 255, 255, 0.6);
  position: absolute;
  top: -20px;
  left: -20px;
}

.quote-text::after {
  content: "\201D";
  font-size: 60px;
  color: rgba(255, 255, 255, 0.6);
  position: absolute;
  bottom: -20px;
  right: -20px;
}

.stuff {
  background-image: url(../../images/banner_4.jpg);
  background-color: rgba(255, 255, 255, 0.7);
  margin: 1%;
  border-radius: 40px;
  box-shadow: 0px 5px 5px #00000021, 0px -5px 5px #00000021,
    5px 0px 5px #00000021, -5px 0px 5px #00000021;
}

@keyframes list-ani {
  0% {
    transform: translateX(-10%);
    /* Start at 0% horizontal position */
  }

  50% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(-10%);
    /* Start at 0% horizontal position */
  }
}

.top {
  display: inline-block;
  /* Display the songs side-by-side */
  margin-right: 30px;
  /* Add some space between the songs */
  background-color: rgba(255, 255, 255, 0.603);
  border-radius: 100%;
  box-shadow: 10px 5px 5px rgba(50, 50, 50, 0.4);
  width: 300px;
  animation: list-ani 5s linear infinite;
  height: 300px;
  text-align: center;
}

.top img {
  padding: 0;
  border-radius: 100%;
  margin: 0;
  width: 300px;
  height: 300px;
}

.top-list {
  position: relative;
  margin-left: 50px;
  margin-right: 90px;
  padding-bottom: 30px;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 5px;
  background: linear-gradient(
    45deg,
    rgba(216, 216, 216, 0.8) 0%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(216, 216, 216, 0.8) 100%
  );
  border-radius: 10px;
  box-shadow: 10px 5px 5px rgba(50, 50, 50, 0.4);
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.8) rgba(216, 216, 216, 0.2);
}

.top:hover {
  transform: scale(1.1);
  /* Increase the size of the song when hovered */
  z-index: 1;
  /* Bring the hovered song to the front */
  box-shadow: 0px 10px 5px rgba(50, 50, 50, 0.4),
    0px -10px 5px rgba(50, 50, 50, 0.3), 10px 0px 5px rgba(50, 50, 50, 0.3),
    -10px 0px 5px rgba(50, 50, 50, 0.3);
}

.top:hover ~ .album {
  transform: translateX(20px);
  /* Push the songs to the right when a song is hovered */
}

.top:hover ~ .album:hover {
  transform: translateX(0);
  /* Reset the position of the hovered song */
}

.top:hover ~ .album:hover ~ .album {
  transform: translateX(-20px);
  /* Push the songs to the left when a song is hovered */
}

.album {
  display: inline-block;
  /* Display the songs side-by-side */
  margin-right: 30px;
  /* Add some space between the songs */
  background-color: rgba(255, 255, 255, 0.603);
  border-radius: 3%;
  box-shadow: 10px 5px 5px rgba(50, 50, 50, 0.4);
  height: 300px;
  animation: list-ani 5s linear infinite;
}

.album img {
  padding: 0;
  margin: 0;
  border-radius: 3%;
  height: 300px;
}

.album-list {
  position: relative;
  margin-left: 50px;
  margin-right: 90px;
  padding-bottom: 25px;
  padding-top: 15px;
  padding-left: 30px;
  box-shadow: 10px 5px 5px rgba(50, 50, 50, 0.4);
  padding-right: 5px;
  background: linear-gradient(
    45deg,
    rgba(216, 216, 216, 0.8) 0%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(216, 216, 216, 0.8) 100%
  );
  border-radius: 10px;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.8) rgba(216, 216, 216, 0.2);
}

.album:hover {
  transform: scale(1.1);
  /* Increase the size of the song when hovered */
  z-index: 1;
  /* Bring the hovered song to the front */
  box-shadow: 0px 10px 5px rgba(50, 50, 50, 0.4),
    0px -10px 5px rgba(50, 50, 50, 0.3), 10px 0px 5px rgba(50, 50, 50, 0.3),
    -10px 0px 5px rgba(50, 50, 50, 0.3);
}

.album:hover ~ .album {
  transform: translateX(20px);
  /* Push the songs to the right when a song is hovered */
}

.album:hover ~ .album:hover {
  transform: translateX(0);
  /* Reset the position of the hovered song */
}

.album:hover ~ .album:hover ~ .album {
  transform: translateX(-20px);
  /* Push the songs to the left when a song is hovered */
}

.songs {
  display: inline-block;
  /* Display the songs side-by-side */
  margin-right: 30px;
  /* Add some space between the songs */
  background-color: rgba(255, 255, 255, 0.603);
  border-radius: 20%;
  box-shadow: 10px 5px 5px rgba(50, 50, 50, 0.4);
  height: 250px;
}

.songs img {
  padding: 0;
  z-index: 2;
  border-radius: 20%;
  margin: 0;
  height: 250px;
}

.songs-list {
  position: relative;
  margin-left: 50px;
  box-shadow: 10px 5px 5px rgba(50, 50, 50, 0.4);
  margin-right: 90px;
  padding-bottom: 25px;
  padding-top: 15px;
  padding-left: 30px;
  padding-right: 5px;
  background: linear-gradient(
    45deg,
    rgba(216, 216, 216, 0.8) 0%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(216, 216, 216, 0.8) 100%
  );
  border-radius: 10px;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.8) rgba(216, 216, 216, 0.2);
}

.songs:hover {
  transform: scale(1.1);
  /* Increase the size of the song when hovered */
  z-index: 0;
  /* Bring the hovered song to the back */
  box-shadow: 0px 10px 5px rgba(50, 50, 50, 0.4),
    0px -10px 5px rgba(50, 50, 50, 0.3), 10px 0px 5px rgba(50, 50, 50, 0.3),
    -10px 0px 5px rgba(50, 50, 50, 0.3);
}

.songs:hover ~ .album {
  transform: translateX(20px);
  /* Push the songs to the right when a song is hovered */
}

.songs:hover ~ .album:hover {
  transform: translateX(0);
  /* Reset the position of the hovered song */
}

.songs:hover ~ .album:hover ~ .album {
  transform: translateX(-20px);
  /* Push the songs to the left when a song is hovered */
}

.artist {
  display: inline-block;
  /* Display the songs side-by-side */
  margin-right: 20px;
  /* Add some space between the songs */
  background-color: rgba(195, 199, 246, 0.461);
  border-radius: 100%;
  width: 200px;
  height: 200px;
  overflow-y: hidden;
  overflow-x: hidden;
  /* animation: scroll 15s ease-in-out infinite; */
  padding: 70px;
  box-shadow: 10px 5px 5px rgba(50, 50, 50, 0.4);
}

.artist img {
  height: min-content;
  width: min-content;
}

.artist-list {
  position: relative;
  white-space: nowrap;
  /* Keep all the songs on one line */
  padding-right: calc(100vw - 100%);
  width: 100vw;
  padding-bottom: 25px;
  animation: scroll 15s ease-in-out infinite;
  padding-top: 15px;
  background: none;
}

/* Define the "scroll" animation */
@keyframes scroll {
  0% {
    transform: translateX(0%);
    /* Start at 0% horizontal position */
  }

  11% {
    transform: translateX(-24%);
    /* Start at 0% horizontal position */
  }

  22% {
    transform: translateX(-48%);
    /* Start at 0% horizontal position */
  }

  33% {
    transform: translateX(-72%);
    /* Start at 0% horizontal position */
  }

  44% {
    transform: translateX(-96%);
    /* Start at 0% horizontal position */
  }

  55% {
    transform: translateX(-120%);
    /* Start at 0% horizontal position */
  }

  66% {
    transform: translateX(-144%);
    /* Start at 0% horizontal position */
  }

  77% {
    transform: translateX(-168%);
    /* End at -100% horizontal position */
  }

  88% {
    transform: translateX(-192%);
    /* Start at 0% horizontal position */
  }

  99% {
    transform: translateX(-216%);
    /* Start at 0% horizontal position */
  }
}

.artist-list:hover {
  animation-play-state: paused;
}

.artist:hover {
  transform: scale(1.2);
  /* Increase the size of the song when hovered */
  z-index: 1;
  /* Bring the hovered song to the front */
  box-shadow: 0px 10px 5px rgba(50, 50, 50, 0.4),
    0px -10px 5px rgba(50, 50, 50, 0.3), 10px 0px 5px rgba(50, 50, 50, 0.3),
    -10px 0px 5px rgba(50, 50, 50, 0.3);
}

.wood-stuff {
  background-image: url(../../images/banner_3.jpg);
  margin: 0;
}

/* captions test */

figure {
  position: relative;
  /* Make the figure container relative */
  display: inline-block;
  /* Set the container to display as an inline-block element */
  animation: fig-ani 10s linear infinite;
}

figure img {
  display: block;
  /* Remove any default spacing between the image and the caption */
  width: 100%;
  /* Set the image width to fill the container */
  height: auto;
  /* Set the image height to automatically adjust based on the width */
  transition: filter 0.3s ease-in-out;
}

figure:hover img {
  filter: brightness(50%);
  /* Reduce the brightness of the image when the user hovers over the figure */
}

figcaption {
  position: absolute;
  /* Position the caption absolutely inside the figure container */
  font-family: "Image Font";
  top: 50%;
  /* Position the top of the caption halfway down the figure container */
  left: 50%;
  /* Position the left side of the caption halfway across the figure container */
  transform: translate(-50%, -50%);
  /* Move the caption up and left by half its width and height */
  color: white;
  padding: 10px;
  opacity: 0;
  z-index: 1;
  text-align: center;
}

@keyframes fig-ani {
  0% {
    transform: translateX(0%);
    /* Start at 0% horizontal position */
  }

  50% {
    transform: translateX(-140%);
  }

  100% {
    transform: translateX(0%);
    /* Start at 0% horizontal position */
  }
}

figure:hover figcaption {
  opacity: 1;
  /* Show the caption when the user hovers over the figure */
}

/* headings and font stuff */

.Heading {
  margin: 0;
  padding: 0;
  margin-left: 10%;
  font-family: "Heading Font";
  font-size: 70px;
  color: white;
}
